In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("reviews_data.csv")
df.head()

,name,location,Date,Rating,Review,Image_Links
0,Helen,"Wichita Falls, TX","Reviewed Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...,['No Images']
1,Courtney,"Apopka, FL","Reviewed July 16, 2023",5.0,** at the Starbucks by the fire station on 436...,['No Images']
2,Daynelle,"Cranberry Twp, PA","Reviewed July 5, 2023",5.0,I just wanted to go out of my way to recognize...,['https://media.consumeraffairs.com/files/cach...
3,Taylor,"Seattle, WA","Reviewed May 26, 2023",5.0,Me and my friend were at Starbucks and my card...,['No Images']
4,Tenessa,"Gresham, OR","Reviewed Jan. 22, 2023",5.0,I’m on this kick of drinking 5 cups of warm wa...,['https://media.consumeraffairs.com/files/cach...

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 850 entries, 0 to 849
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         850 non-null    object
 1   location     850 non-null    object
 2   Date         850 non-null    object
 3   Rating       705 non-null    float64
 4   Review       850 non-null    object
 5   Image_Links  850 non-null    object
dtypes: float64(1), object(5)
memory usage: 40.0+ KB

In [4]:
df.isnull().sum()

name             0
location         0
Date             0
Rating         145
Review           0
Image_Links      0
dtype: int64

Removing the missing values in the row of Rating column

In [5]:
df = df.dropna(subset=["Rating"])

In [6]:
df.isnull().sum()

name           0
location       0
Date           0
Rating         0
Review         0
Image_Links    0
dtype: int64

In [7]:
df.head()

,name,location,Date,Rating,Review,Image_Links
0,Helen,"Wichita Falls, TX","Reviewed Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...,['No Images']
1,Courtney,"Apopka, FL","Reviewed July 16, 2023",5.0,** at the Starbucks by the fire station on 436...,['No Images']
2,Daynelle,"Cranberry Twp, PA","Reviewed July 5, 2023",5.0,I just wanted to go out of my way to recognize...,['https://media.consumeraffairs.com/files/cach...
3,Taylor,"Seattle, WA","Reviewed May 26, 2023",5.0,Me and my friend were at Starbucks and my card...,['No Images']
4,Tenessa,"Gresham, OR","Reviewed Jan. 22, 2023",5.0,I’m on this kick of drinking 5 cups of warm wa...,['https://media.consumeraffairs.com/files/cach...

Removing the Reviewed word from the date column

In [8]:
df["Date"] = df["Date"].str.replace("Reviewed ", "", regex=False)

In [9]:
df.head()

,name,location,Date,Rating,Review,Image_Links
0,Helen,"Wichita Falls, TX","Sept. 13, 2023",5.0,Amber and LaDonna at the Starbucks on Southwes...,['No Images']
1,Courtney,"Apopka, FL","July 16, 2023",5.0,** at the Starbucks by the fire station on 436...,['No Images']
2,Daynelle,"Cranberry Twp, PA","July 5, 2023",5.0,I just wanted to go out of my way to recognize...,['https://media.consumeraffairs.com/files/cach...
3,Taylor,"Seattle, WA","May 26, 2023",5.0,Me and my friend were at Starbucks and my card...,['No Images']
4,Tenessa,"Gresham, OR","Jan. 22, 2023",5.0,I’m on this kick of drinking 5 cups of warm wa...,['https://media.consumeraffairs.com/files/cach...

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 705 entries, 0 to 749
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         705 non-null    object
 1   location     705 non-null    object
 2   Date         705 non-null    object
 3   Rating       705 non-null    float64
 4   Review       705 non-null    object
 5   Image_Links  705 non-null    object
dtypes: float64(1), object(5)
memory usage: 38.6+ KB

Change the Date column datetype

In [13]:
df["Date"] = pd.to_datetime(df["Date"], format="%b. %d, %Y", errors="coerce")

In [14]:
df.head()

,name,location,Date,Rating,Review,Image_Links
0,Helen,"Wichita Falls, TX",2023-09-13,5.0,Amber and LaDonna at the Starbucks on Southwes...,['No Images']
1,Courtney,"Apopka, FL",2023-07-16,5.0,** at the Starbucks by the fire station on 436...,['No Images']
2,Daynelle,"Cranberry Twp, PA",2023-07-05,5.0,I just wanted to go out of my way to recognize...,['https://media.consumeraffairs.com/files/cach...
3,Taylor,"Seattle, WA",2023-05-26,5.0,Me and my friend were at Starbucks and my card...,['No Images']
4,Tenessa,"Gresham, OR",2023-01-22,5.0,I’m on this kick of drinking 5 cups of warm wa...,['https://media.consumeraffairs.com/files/cach...

In [25]:
df['Rating'] = df['Rating'].astype(int)

In [26]:
df.head()

,name,location,Date,Rating,Review,Image_Links
0,Helen,"Wichita Falls, TX",2023-09-13,5,Amber and LaDonna at the Starbucks on Southwes...,['No Images']
1,Courtney,"Apopka, FL",2023-07-16,5,** at the Starbucks by the fire station on 436...,['No Images']
2,Daynelle,"Cranberry Twp, PA",2023-07-05,5,I just wanted to go out of my way to recognize...,['https://media.consumeraffairs.com/files/cach...
3,Taylor,"Seattle, WA",2023-05-26,5,Me and my friend were at Starbucks and my card...,['No Images']
4,Tenessa,"Gresham, OR",2023-01-22,5,I’m on this kick of drinking 5 cups of warm wa...,['https://media.consumeraffairs.com/files/cach...

Create a Sentiment_Label column which stores the positive, negative and neutral value based on rating

In [33]:
def rate_to_sentiment(rating):
    if rating >= 4:
        return "Positive"
    elif rating == 3:
        return "Neutral"
    else:
        return "Negative"

df["Sentiment_Label"] = df["Rating"].apply(rate_to_sentiment)

In [35]:
df.head(15)

,name,location,Date,Rating,Review,Image_Links,Sentiment_Label
0,Helen,"Wichita Falls, TX",2023-09-13,5,Amber and LaDonna at the Starbucks on Southwes...,['No Images'],Positive
1,Courtney,"Apopka, FL",2023-07-16,5,** at the Starbucks by the fire station on 436...,['No Images'],Positive
2,Daynelle,"Cranberry Twp, PA",2023-07-05,5,I just wanted to go out of my way to recognize...,['https://media.consumeraffairs.com/files/cach...,Positive
3,Taylor,"Seattle, WA",2023-05-26,5,Me and my friend were at Starbucks and my card...,['No Images'],Positive
4,Tenessa,"Gresham, OR",2023-01-22,5,I’m on this kick of drinking 5 cups of warm wa...,['https://media.consumeraffairs.com/files/cach...,Positive
5,Alyssa,"Sunnyvale, TX",2023-09-14,1,We had to correct them on our order 3 times. T...,['No Images'],Negative
6,ken,"Spring Hill, FL",2023-09-08,1,I have tried Starbucks several different times...,['No Images'],Negative
7,Nikki,"Asheville, NC",2023-08-25,1,Starbucks near me just launched new fall foods...,['No Images'],Negative
8,Alex,"Reisterstown, MD",2023-08-05,1,"I ordered online for the Reisterstown Rd, St T...",['No Images'],Negative
9,Sunny,"Zionville, Other",2023-08-04,1,Staff at the Smythe St. Superstore location in...,['No Images'],Negative
10,Breggetta,"Long Beach, CA",2023-07-27,1,I filed a BBB complaint last month because Sta...,['https://media.consumeraffairs.com/files/cach...,Negative
11,Shannon,"Westerville, OH",2023-07-21,2,Every time I try to buy a Strawberry Refresher...,['No Images'],Negative
12,Lucy,"Fontana, CA",2023-07-21,1,Insulted by customer service representative as...,['No Images'],Negative
13,RAYMOND,"Kapolei, HI",2023-07-16,1,I would give Starbucks zero stars if I could. ...,['No Images'],Negative
14,Thomas,"Absecon, NJ",2023-07-06,1,"On June 21, 2023 I purchased coffee and a brea...",['No Images'],Negative

In [37]:
df.to_csv("D: cleaned_reviews_data.csv", index=False)

print("Cleaned data saved successfully as 'cleaned_reviews_data.csv'")

Cleaned data saved successfully as 'cleaned_reviews_data.csv'